:root {
	--beaver: #A88778ff;
	--cultured: #F8F8F8ff;
	--light-grey: #CCCCCCff;
	--metallic-seaweed: #248099ff;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: #222222;
	font-weight: 400;
	font-family: 'Outfit', sans-serif;
}

a {
	color: var(--metallic-seaweed);
}

input {
	color: #222222;
	font-family: inherit;
}

input[type="text"], input[type="email"], input[type="password"] {
	padding: 0.7em;
	border-radius: 0.5em;
	border: 2px solid var(--metallic-seaweed);
}

input[type="button"], button {
	padding: 0.7em;
	cursor: pointer;
	font-weight: 600;
	border-radius: 0.5em;
	color: var(--cultured);
	background-color: var(--metallic-seaweed);
	border: 2px solid var(--metallic-seaweed);
	transition: 0.2s ease;
}

input[type="button"]:hover {
	background-color: white;
	color: var(--metallic-seaweed);
}