body
{
    margin: 0;
    background-color: #c7c2a3;
}
.navBar
{
    background-color: rgb(255, 255, 255);
    padding: 8px 2px 15px 2px;
    margin: 0;

    border: 2px solid seagreen;
    border-radius: 0px 0px 20px 20px;

    box-shadow: 0px 0px 20px 5px rgb(46, 139, 86, 0.384);
}

.navBar a {
    color: seagreen;

    text-align: center;
    text-decoration: none;

    padding: 30px 16px;
    margin: 0;
    font-size: 24px;
    transition: all 0.5s;
}

#otherLink:hover 
{
    background-color: rgb(178, 243, 176);
    color: rgb(0, 0, 0);
}

#homeIcon
{
    font-size: 36px;
    padding: 10px 32px;

    margin: 0 15px;

    border: 2px solid rgb(46, 139, 87) ;
    border-radius: 20px;

    box-shadow: 0px 0px 3px 3px rgba(46, 139, 86, 0.384);
    display: inline-block;
    
    background-color: white;
    
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

#homeIcon:hover
{
    transform: scale(1.2);
}




.navLinks
{
    display: block;
    margin: 0 auto;
    width: fit-content;
}